@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["ImageSrc"] = "/img_country/the-anthropocene.jpg";
}

<div class="container">
    <div class="row text_align_justify margin_bottom">
        <div class="col col-lg-1"></div>
        <div class="col-lg-10">
            
                <div class="row g-0">
                <div class="col-md-4 img_vert_center">
                    <img src=@ViewData["ImageSrc"] class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3>Freedom House rates people’s access to political rights and civil liberties in 210 countries and territories through its annual Freedom in the World report. Individual freedoms—ranging from the right to vote to freedom of expression and equality before the law—can be affected by state or nonstate actors. Click on a country name below to access the full country narrative report.</h3>
                        </div>
                    </div>
                </div>
            
            
        </div>
        <div class="col col-lg-1"></div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col col-lg-8">

            <table class="table table-success table-striped">


                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>Total Score and Status</th>
                            <th>Political Rights</th>
                            <th>Civil Liberties</th>
                        </tr>
                    </thead>

                    <tbody>
      
                        <tr>
                        <td><a href="/Home/Andorra">Andorra</a></td>
                            <td><span class="score">93</span> <span class="status free">Free</span></td>
                            <td>38</td>
                            <td>55</td>
                        </tr>
                        <tr class="country-scores even">
                            <td><a href="/Home/Angola">Angola</a></td>
                            <td><span class="score">28</span> <span class="status not-free">Not Free</span></td>
                            <td>10</td>
                            <td>18</td>
                        </tr>
                        <tr class="country-scores odd">
                        <td><a href="/Home/Antigua_and_Barbuda">Antigua and Barbuda</a></td>
                            <td><span class="score">85</span> <span class="status free">Free</span></td>
                            <td>33</td>
                            <td>52</td>
                        </tr>
                        <tr class="country-scores even">
                        <td><a href="/Home/Argentina">Argentina</a></td>
                            <td><span class="score">85</span> <span class="status free">Free</span></td>
                            <td>35</td>
                            <td>50</td>
                        </tr>
                        
                    </tbody>
                </table>
    </div>
        <div class="col col-lg-2"></div>
    </div>
</div>