@{
    ViewData["Title"] = " 50 лучших ресторанов и баров Валенсии ";
}



<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-3">
            <h3>
                <a href="/Home/Ricard_Camarena">Ricard_Camarena</a>
            </h3>
            <h3>
                <a href="/Home/La_Gatta">La Gatta</a>
            </h3>
            <h3>
                <a href="/Home/Komori">Komori</a>

            </h3>
            <h3>
                <a href="/Home/Anyora">Винный погребок «Anyora»</a>
            </h3>
        </div>
        <div class="col-9">
            <a href="/рестораны/50-лучших-ресторанов-и-баров-валенсии" title="">
                <img class="rounded img-fluid d-block" alt="50 ресторанов и баров в городе Валенсия."
                     src="~/img/50-luchshij-restoranov-i-barov-valensii-oblojka.jpg" />
            </a>
            <div>
                <p class="text-alight text-body-secondary text-decoration-underline">
                    50 ресторанов и баров в городе Валенсия, которые просто необходимо посетить хотя бы раз в жизни, чтобы насладиться лучшей гастрономией в Валенсии.
                </p>
                <span class="text-alight">
                    Средиземноморская кухня и в целом гастрономия Валенсии является ещё одной из её признанных достопримечательностей. Если вы любите вкусно поесть и являетесь поклонником различных кухонь мира, то добро пожаловать в Валенсию, где вас ждут и шикарные рестораны со звездами Michelin для особых случаев, и уютные бары с вкуснейшим тапас и закусками.

                    Специально для гурманов и тех, кто только начал знакомство с гастрономической Валенсией, мы составили список из 50 лучших ресторанов и баров города, куда вам рекомендуем заглянуть хотя бы однажды.
                </span>
            </div>
        </div>
        
    </div>
</div>


