
@{
    ViewData["Title"] = "Ricard Camarena";
}




<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
      </div>
        <div class="col-8">
        <h1 class="display-4 text-center">@ViewData["Title"]</h1>
         <p><img class="rounded img-fluid d-block" src="~/img/Ricard-camarena-valensiya.jpg" alt="50 лучших ресторанов и баров Валенсии"></p>
    <p>Ресторан «Ricard Camarena» заслуживает вашего визита хотя бы потому, что это единственное заведение в Валенсии, получившее 2 звезды Michelín. Здесь представлена лучшие средиземноморские блюда в авторском переосмыслении великого Рикарда Камарены.</p>
    <div class="card">
        <div class="card-header">
            <h3 >Полезная информация</h3>
        </div>
        <div class="card-body">
            <div class="row nopadding">
                <div class="col-lg-6">
                    <dl class="separator"> 
                        <dt>Адрес:</dt>
                        <dd>Av. de Burjassot, 54 – Bombas Gens Centre d’Art</dd>
                        <dt>Телефон:</dt>
                        <dd>(+34) 963 355 418</dd>
                    </dl>
                </div>
            <div class="col-lg-6">
                <dl class="separator"> 
                    <dt>Сайт:</dt>
                    <dd>
                        <a href="https://ricardcamarena.com/restaurant/ricard-camarena-restaurant/" target="_blank">www.ricardcamarena.com</a>
                    </dd><dt>Бронирование столиков:</dt>
                    <dd>
                        <a href="https://ricardcamarenarestaurant.com/reserva/" target="_blank"> www.ricardcamarenarestaurant.com/reserva</a>
                    </dd>
                </dl>
            </div>
            </div>
        </div>
     </div>
        
        </div>
         <div class="col col-lg-2"></div>
    </div>
</div>

@*<div>
    <h3>Ricard Camarena</h3>
    <p><img src="/images/gastronomiya/gastronomiya/50-luchshij-restoranov-i-barov-valensii/Ricard-camarena-valensiya.jpg" alt="50 лучших ресторанов и баров Валенсии"></p>
    <p>Ресторан «Ricard Camarena» заслуживает вашего визита хотя бы потому, что это единственное заведение в Валенсии, получившее 2 звезды Michelín. Здесь представлена лучшие средиземноморские блюда в авторском переосмыслении великого Рикарда Камарены.</p>
    <div >
        <div >
            <h3 class="panel-title">Полезная информация</h3>
        </div>
        <div class="panel-body">
            <div class="row nopadding">
                <div class="col-lg-6">
                    <dl class="separator"> 
                        <dt>Адрес:</dt>
                        <dd>Av. de Burjassot, 54 – Bombas Gens Centre d’Art</dd>
                        <dt>Телефон:</dt>
                        <dd>(+34) 963 355 418</dd>
                    </dl>
                </div>
            <div class="col-lg-6">
                <dl class="separator"> 
                    <dt>Сайт:</dt>
                    <dd>
                        <a href="https://ricardcamarena.com/restaurant/ricard-camarena-restaurant/" target="_blank">www.ricardcamarena.com</a>
                    </dd><dt>Бронирование столиков:</dt>
                    <dd>
                        <a href="https://ricardcamarenarestaurant.com/reserva/" target="_blank"> www.ricardcamarenarestaurant.com/reserva</a>
                    </dd>
                </dl>
            </div>
            </div>
        </div>
     </div>
</div>
*@